.mainForm {
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 20px 10px
}

.form-group {
    padding-top: 20px;
}

label {
    padding-bottom: 5px;
}

#submitBtn {
    text-align: center;
    padding: 20px;
}

.btn {
    margin: 10px;
}

#errorMessage {
    font-size: 0.7rem;
    margin: 15px;
}